.accordion {
    margin-block: 1rem;
    padding: 0 var(--gap-2);
    background-color: var(--grey-2);
    position: relative;
    overflow: hidden;

    .heading {
        display: flex;
        align-items: center;
        background-color: var(--grey-2);
        position: relative;
        padding-block: var(--gap-2);
        cursor: pointer;
        transition: 0.5s color var(--easing-1);
        font-size: var(--fs-6-5);
        font-weight: 700;
        line-height: 1.3;

        @media (max-width: 480px) {
            align-items: start;
        }

        &::after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 400" ><path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg>');
            min-width: 13px;
            // position: absolute;
            // right: 0;
            transition: 0.3s all ease;
            margin-left: auto;
            position: relative;
            margin-top: -7px;
            padding-inline: calc(var(--gap) / 2);
            margin-right: calc(var(--gap) / -2);

            @media (max-width: 480px) {
                margin-top: 0px;
            }
        }
    }

    .content {
        max-height: 0vh;
        margin-top: 0;
        padding-top: 0;
        opacity: 0;
        border-top: 1px solid transparent;
        overflow: hidden;
        transition-duration: .5s;
        transition-property: padding, margin, max-height, border-color, opacity;
        transition-timing-function: var(--easing-1);
        font-size: var(--fs-5);
        font-weight: 400;
        line-height: 1.6;
    }

    &.active {
        .heading {
            color: var(--accent-clr);
            transition-duration: .3s;

            &::after {
                transform: rotate(180deg);
                // content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 400" ><path d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"/></svg>');
            }
        }

        .content {
            transition-duration: .7s;
            max-height: 100vh;
            opacity: 1;
            padding-block: var(--gap-2);
            border-top-color: black;
        }
    }
}