.mec-calendar {
    --cell-size: 10vw;
    --gap: 1em;

    max-width: max-content;
    margin-inline: auto;

    dl.mec-calendar-table-head,
    dl.mec-calendar-row {
        display: grid;
        grid-template-columns: repeat(7, var(--cell-size));
        gap: var(--gap);
    }

    dl.mec-calendar-table-head {
        margin-bottom: var(--gap);

        dt.mec-calendar-day-head {
            text-align: center;
            background-color: transparent !important;
            border: none !important;
            width: 100%;
            font-weight: 400;
            font-size: var(--fs-3);
            line-height: 2;
            letter-spacing: 2px;

        }
    }

    dl.mec-calendar-row {

        dt.mec-calendar-day {
            border: none;
            background: var(--grey-2);
            width: 100%;
            height: var(--cell-size);
            // transition: none;

            &:hover {
                background: var(--grey-2);
            }

            &.has-event {
                padding: 0;
                // display: flex;

                .event-image {
                    display: block;
                    width: 100%;
                    height: 100%;

                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        filter: grayscale(1);
                        transition: filter .7s var(--easing-1);
                    }
                }

                .event-details {
                    background-color: var(--accent-clr);
                    position: absolute;
                    right: calc(-100% - var(--gap));
                    top: 0;
                    height: 100%;
                    width: calc(200% + var(--gap));
                    padding: 10% var(--gap);
                    transform-origin: right;
                    transition: transform .7s var(--easing-1);
                    transform: translateX(-56%) scaleX(0);
                    z-index: -1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .event-category {
                        font-size: var(--fs-2);
                        font-weight: 700;
                        line-height: 2;
                        letter-spacing: 2px;
                        color: rgba(255, 255, 255, 0.6);
                        text-transform: uppercase;
                    }

                    .event-title {
                        font-weight: 600;
                        font-size: var(--fs-7);
                        line-height: 1.2;
                        text-transform: capitalize;
                        color: white;
                        margin-bottom: 0.2em;
                    }

                    .event-desc {
                        font-size: var(--fs-5);
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        font-weight: 400;
                        color: white;
                    }

                    .event-time {
                        font-weight: 400;
                        font-size: var(--fs-3);
                        line-height: 2;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: white;

                        // &.mec-event-detailed-time {
                        //     display: flex;
                        //     // gap: 0.5em;
                        //     align-items: center;
                        //     letter-spacing: -0.02em;

                        //     .mec-sl-clock-o {
                        //         padding-right: 2em;
                        //         padding-top: 0;
                        //     }

                        //     .mec-detailed-time-wrapper {
                        //         display: contents;

                        //         div {
                        //             font-size: var(--fs-3);
                        //             line-height: 1.2;
                        //         }

                        //         .mec-detailed-time-end::before {
                        //             content: '-';
                        //             padding-inline: 0.3em;
                        //         }
                        //     }
                        // }
                    }
                }

                &:hover {
                    background-color: var(--accent-clr);

                    .event-details {
                        transform: translateX(-100%) scaleX(1) !important;
                        opacity: 1 !important;
                    }

                    .event-image img {
                        filter: grayscale(0);
                    }
                }
            }

            &.empty {
                font-size: var(--fs-4);
                text-align: right;
                font-weight: 400;
                letter-spacing: 2px;
                padding: calc(var(--gap) - 0.2em);
            }

            &.today {
                color: var(--accent-clr);
            }
        }

        /* Special handling for Mon and Tue */
        dt.mec-calendar-day:nth-of-type(7n+1),
        dt.mec-calendar-day:nth-of-type(7n+2) {
            &:hover {
                z-index: 9;
            }

            // outline: 2px solid blue;
            .event-details {
                transform: translateX(-100%) scaleX(0);
            }

            &:hover .event-details {
                transform: translateX(45%) scaleX(1) !important;
            }
        }

        dt.mec-calendar-day:nth-of-type(7n+1) {
            z-index: 1;
        }

        dt.mec-calendar-day:nth-of-type(7n+2) {
            z-index: 2;
        }

        dt.mec-calendar-day:nth-of-type(7n+3) {
            z-index: 3;
        }

        dt.mec-calendar-day:nth-of-type(7n+4) {
            z-index: 4;
        }

        dt.mec-calendar-day:nth-of-type(7n+5) {
            z-index: 5;
        }

        dt.mec-calendar-day:nth-of-type(7n+6) {
            z-index: 6;
        }

        dt.mec-calendar-day:nth-of-type(7n+7) {
            z-index: 7;
        }
    }

}

.mobile-event-details {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-clr);
    padding-inline: 10%;

    .event-details {
        display: none;

        &.active {
            display: block;
        }
    }
}