section {

    &.full-width {
        width: 100vw;
        max-width: 1920px;
        margin-left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        box-shadow: 0 0 0 100vw white;
        clip-path: inset(0px -100vw);

        &.dark {
            box-shadow: 0 0 0 100vw black;
        }

        &.dark-medium {
            box-shadow: 0 0 0 100vw var(--grey-2-translucent);
        }
    }

    &.container-padding {
        padding: var(--gap-5) var(--padding-container);
    }

    &.dark {
        background-color: black;
        color: white;
    }

    &.dark-medium {
        background-color: var(--grey-2-translucent);
    }

}